body{
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #FFF;
  background-color: #282D35;
  
}

.nav{
  background-color: #21222A;
  display: flex;
  padding: 22px 30px;
  justify-content: space-between;
  color: #DEEBF8;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
}

img{
  width: 50px;
}

.headerName{
  display: flex;
  color: #61DAFB;
  font-size: 23px;
  align-items: center;
  font-weight: 700;
  gap: 15px;
}

.body{
  padding: 57px 27px;
  background-image: url("./assets/react-icon-large.png");
  background-repeat:no-repeat;
  background-position: right bottom 25%;
}

h1{
  margin: 0 0 46px 0;
  font-size: 40px;
  letter-spacing: -.05em;
}

li{
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 19px;
  max-width: 400px;
}

li::marker {
  color:#61DAFB;
  font-size: 1.4rem;
}